<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: t('home.contact.name'), required: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: t('home.contact.email'), required: true %>
  </div>

  <div class="field">
    <% if Department.count > 1 %>
      <%= f.select(:department, Department.all.collect {|a| 
            if I18n.locale == :en
              a.name_en
            elsif I18n.locale == :pt
              a.name_pt
            elsif I18n.locale == :es
              a.name_es
            end
          }, {prompt: t('home.contact.department')}, required: true) 
      %>
    <% else %>
      <%= f.select(:department, Department.all.collect {|a| 
            if I18n.locale == :en
              a.name_en
            elsif I18n.locale == :pt
              a.name_pt
            elsif I18n.locale == :es
              a.name_es
            end
          }, required: true) 
      %>
    <% end %>
  </div>

  <div class="field">
    <%= f.text_field :subject, placeholder: t('home.contact.subject'), required: true %>
  </div>

  <div class="field">
    <%= f.text_area :content, placeholder: t('home.contact.content'), required:true, rows: 8 %>
  </div>

  <div class="field">
    <label class="custom-file-upload" data-label="<%= t('home.contact.attach') %>">
        <input id="message_file" type="file"/>
        <span><%= t('home.contact.attach') %></span>
    </label>
  	<!-- <%= f.file_field :file, placeholder: "Anexo", data: {buttonText: ""} %> -->
  </div>

  <div class="field" id="my-awesome-captcha">
  	<%= recaptcha_tags(theme: "dark") %>
  </div>

  <div class="actions">
    <%= f.submit t('home.contact.submit'), class: 'submit center-block text-center' %>
  </div>
<% end %>