<div class="vertical-alignment-helper">
  	<div class="modal-dialog modal-lg vertical-align-center" role="document">
	    <div class="modal-content">
	      <div class="modal-body locked-body">

	      	<!-- Extra Small / Small devices -->
	      	<div class="row hidden-md hidden-lg">

	      		<!-- Meta information -->
	      		<div class="col-xs-12 col-video-description">
	          	<div class="row meta">
	          		<div class="col-xs-10">
	          			<p class="video-title">
		          			<%= @title %>
	          			</p>
	          			
	          			<p class="video-year">
	          				<% if @year.present? %>
		          				(<%= @year %>)
		          			<% end %>
          				</p>
	          		</div>
	          		<div class="col-xs-2" style="display: block">
	          			<%= image_tag("fechar_popup.svg", alt: t('home.close_popup'), title: t('home.close_popup'), height: 32, width: 32, class: "close", data: {dismiss: "modal", label: "Close"}) %>
	          		</div>
	          	</div>
	          </div>

	          <div class="col-xs-12 col-video">
            	<div class="locked-video">
            		<%= image_tag("cadeado.svg", class: "locked-image", alt: t('home.job.locked.line_one') + t('home.job.locked.line_two'), title: t('home.job.locked.line_one') + t('home.job.locked.line_two')) %>
            		<p><%= t('home.job.locked.line_one') %></p>
            		<p><%= t('home.job.locked.line_two') %></p>
            	</div>
	          </div>

	          <div class="col-xs-12 col-video-description">
					<!-- Locked content -->
		          	<div class="row locked">
		          		<div class="col-xs-12">
		          			<p class="description-title">
		          				<%= t('home.job.locked.title') %>
		          			</p>
		          			<p class="description-text">
		          				<%= t('home.job.locked.description') %>
		          			</p>
		          			<%= form_tag(job_path(id: @id), method: :get, remote: true) do %>
		          			  <%= hidden_field_tag 'id', @id %>
							  <%= password_field_tag(:password, nil, class: "unlock_password_text", placeholder: t('home.job.locked.password_placeholder')) %>
						  	  <%= submit_tag(t('home.job.locked.button'), class: "unlock_password_button") %>
							<% end %>
		          		</div>
		          	</div>
	          </div>
	        </div>

	      	<!-- Medium / Large devices -->
	        <div class="row hidden-xs hidden-sm hidden-ms">
	          <div class="col-md-8 col-video">
            	<div class="locked-video">
            		<%= image_tag("cadeado.svg", class: "locked-image", alt: t('home.job.locked.line_one') + t('home.job.locked.line_two'), title: t('home.job.locked.line_one') + t('home.job.locked.line_two')) %>
            		<p><%= t('home.job.locked.line_one') %></p>
            		<p><%= t('home.job.locked.line_two') %></p>
            	</div>
	          </div>
	          <div class="col-md-4 col-video-description">

	          	<!-- Meta information -->
	          	<div class="row meta">
	          		<div class="col-md-10">
	          			<p class="video-title">
	          				<%= @title %>
	          			</p>
	          			<p class="video-year">
	          				<% if @year.present? %>
		          				(<%= @year %>)
		          			<% end %>
          				</p>
	          		</div>
	          		<div class="col-md-2">
	          			<%= image_tag("fechar_popup.svg", alt: t('home.close_popup'), title: t('home.close_popup'), height: 32, width: 32, class: "close", data: {dismiss: "modal", label: "Close"}) %>
	          		</div>
	          	</div>

				<!-- Locked content -->
	          	<div class="row locked">
	          		<div class="col-md-12">
	          			<p class="description-title">
	          				<%= t('home.job.locked.title') %>
	          			</p>
	          			<p class="description-text">
	          				<%= t('home.job.locked.description') %>
	          			</p>
	          			<%= form_tag(job_path(id: @id), method: :get, remote: true) do %>
	          			  <%= hidden_field_tag 'id', @id %>
						  <%= password_field_tag(:password, nil, class: "unlock_password_text", placeholder: t('home.job.locked.password_placeholder')) %>
						  <%= submit_tag(t('home.job.locked.button'), class: "unlock_password_button") %>
						<% end %>
	          		</div>
	          	</div>
	          </div>
	        </div>
	      </div>
	    </div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.vertical alignment-helper -->
