<div class="vertical-alignment-helper">
  	<div class="modal-dialog modal-lg vertical-align-center" role="document">
	    <div class="modal-content">
	      <div class="modal-body">

	      	<!-- Extra Small / Small devices -->
	      	<div class="row hidden-md hidden-lg">

	      		<!-- Meta information -->
	      		<div class="col-xs-12 col-video-description">
	          	<div class="row meta">
	          		<div class="col-xs-10">
	          			<p class="video-title">
		          			<%= @job.title %>
	          			</p>
	          			<p class="video-year">
          					<% if @job.year.present? %>
	          					(<%= @job.year %>)
		          			<% end %>
      					</p>
	          		</div>
	          		<div class="col-xs-2" style="display: block">
	          			<%= image_tag("fechar_popup.svg", alt: t('home.close_popup'), title: t('home.close_popup'), height: 32, width: 32, class: "close", data: {dismiss: "modal", label: "Close"}) %>
	          		</div>
	          	</div>
	          </div>

	          <div class="col-xs-12 col-video">
	          	<div class="embed-responsive embed-responsive-16by9">
        		<iframe class="video embed-responsive-item" src="//player.vimeo.com/video/<%= @job.video_id %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            	</div>
	          </div>

	          <div class="col-xs-12 col-video-description">
		          	<div class="row">
		          		
			          	<!-- Synopsis -->
			          	<% if @job.synopsis? %>
			          		<div class="col-xs-12 col-sm-6 synopsis">
			          			<p class="description-title">
			          				<%= t('home.job.synopsis') %>
			          			</p>
			          			<p class="description-text">
			          				<%= @job.synopsis %>
			          			</p>
			          		</div>
			          	<% end %>

			          	<!-- Infos / Datasheet -->
		          		<div class="col-xs-12 col-sm-6 datasheet">
		          		<p class="description-title"><%= t('home.job.info') %></p>
		          		<table class="table table-striped description-text table-hover"><tbody>

          					<!-- Title -->
          					<tr>
          						<td><%= t('home.job.title') %></td>
          						<td>
          							<%= simple_format(@job.title, {}, wrapper_tag: "span")%>
          						</td>
          					</tr>

          					<!-- Format -->
          					<% if @job.format?() %>
	          					<tr> 
	          						<td><%= t('home.job.format') %></td>
	          						<td>
	          							<%= simple_format(@job.format(), {}, wrapper_tag: "span") %>
	          						</td>
	          					</tr>
		          			<% end %>

		          			<!-- Genre -->
		          			<% if @job.genre?() %>
	          					<tr> 
	          						<td><%= t('home.job.genre') %></td>
	          						<td>
	          							<%= simple_format(@job.genre(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Subgenre -->
	          				<% if @job.subgenre?() %>
	          					<tr> 
	          						<td><%= t('home.job.subgenre') %></td>
	          						<td>
	          							<%= simple_format(@job.subgenre(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Running Time -->
	          				<% if @job.running_time?() %>
	          					<tr> 
	          						<td><%= t('home.job.running_time') %></td>
	          						<td>
	          							<%= simple_format(@job.running_time(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Target -->
	          				<% if @job.target?() %>
	          					<tr> 
	          						<td><%= t('home.job.target') %></td>
	          						<td>
	          							<%= simple_format(@job.target(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Created By -->
	          				<% if @job.created_by?() %>
	          					<tr> 
	          						<td class="text-nowrap"><%= t('home.job.created_by') %></td>
	          						<td>
	          							<%= simple_format(@job.created_by(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Written By -->
	          				<% if @job.written_by?() %>
	          					<tr> 
	          						<td><%= t('home.job.written_by') %></td>
	          						<td>
	          							<%= simple_format(@job.written_by(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>
	          				
	          				<!-- Directed By -->
	          				<% if @job.directed_by?() %>
	          					<tr> 
	          						<td><%= t('home.job.directed_by') %></td>
	          						<td>
	          							<%= simple_format(@job.directed_by(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Status -->
	          				<% if @job.status?() %>
	          					<tr> 
	          						<td><%= t('home.job.status') %></td>
	          						<td>
	          							<%= simple_format(@job.status(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Player -->
	          				<% if @job.player.present? %>
	          					<tr> 
	          						<td><%= t('home.job.player') %></td>
	          						<td><%= simple_format(@job.player, {}, wrapper_tag: "span") %></td>
	          					</tr>
	          				<% end %>

		          		</tbody></table>
						</div>
					</div>
	          </div>
	        </div>




	      	<!-- Medium / Large devices -->
	        <div class="row hidden-xs hidden-sm hidden-ms">
	          <div class="col-md-8 col-video">
	          	<div class="embed-responsive embed-responsive-16by9">
        		<iframe class="video embed-responsive-item" src="//player.vimeo.com/video/<%= @job.video_id %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            	</div>
	          </div>
	          <div class="col-md-4 col-video-description">

	          	<!-- Meta information -->
	          	<div class="row meta">
	          		<div class="col-md-10">
	          			<p class="video-title">
	          				<%= @job.title %>
	          			</p>
	          			
          				<p class="video-year">
          					<% if @job.year.present? %>
	          					(<%= @job.year %>)
		          			<% end %>
      					</p>
	          		</div>
	          		<div class="col-md-2">
	          			<%= image_tag("fechar_popup.svg", alt: t('home.close_popup'), title: t('home.close_popup'), height: 32, width: 32, class: "close", data: {dismiss: "modal", label: "Close"}) %>
	          		</div>
	          	</div>

	          	<!-- Synopsis -->
	          	<% if @job.synopsis %>
		          	<div class="row synopsis">
		          		<div class="col-md-12">
		          			<p class="description-title">
		          				<%= t('home.job.synopsis') %>
		          			</p>
		          			<p class="description-text">
		          				<%= @job.synopsis %>
		          			</p>
		          		</div>
		          	</div>
	          	<% end %>

	          	<!-- Infos / Datasheet -->
	          	<div class="row datasheet">
	          		<div class="col-md-12">
	          		<p class="description-title"><%= t('home.job.info') %></p>
	          		<table class="table table-striped description-text table-hover"><tbody>

	          			<!-- Title -->
          					<tr>
          						<td><%= t('home.job.title') %></td>
          						<td>
          							<%= simple_format(@job.title, {}, wrapper_tag: "span")%>
          						</td>
          					</tr>

          					<!-- Format -->
          					<% if @job.format?() %>
	          					<tr> 
	          						<td><%= t('home.job.format') %></td>
	          						<td>
	          							<%= simple_format(@job.format(), {}, wrapper_tag: "span") %>
	          						</td>
	          					</tr>
		          			<% end %>

		          			<!-- Genre -->
		          			<% if @job.genre?() %>
	          					<tr> 
	          						<td><%= t('home.job.genre') %></td>
	          						<td>
	          							<%= simple_format(@job.genre(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Subgenre -->
	          				<% if @job.subgenre?() %>
	          					<tr> 
	          						<td><%= t('home.job.subgenre') %></td>
	          						<td>
	          							<%= simple_format(@job.subgenre(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Running Time -->
	          				<% if @job.running_time?() %>
	          					<tr> 
	          						<td><%= t('home.job.running_time') %></td>
	          						<td>
	          							<%= simple_format(@job.running_time(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Target -->
	          				<% if @job.target?() %>
	          					<tr> 
	          						<td><%= t('home.job.target') %></td>
	          						<td>
	          							<%= simple_format(@job.target(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Created By -->
	          				<% if @job.created_by?() %>
	          					<tr> 
	          						<td class="text-nowrap"><%= t('home.job.created_by') %></td>
	          						<td>
	          							<%= simple_format(@job.created_by(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Written By -->
	          				<% if @job.written_by?() %>
	          					<tr> 
	          						<td><%= t('home.job.written_by') %></td>
	          						<td>
	          							<%= simple_format(@job.written_by(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>
	          				
	          				<!-- Directed By -->
	          				<% if @job.directed_by?() %>
	          					<tr> 
	          						<td><%= t('home.job.directed_by') %></td>
	          						<td>
	          							<%= simple_format(@job.directed_by(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Status -->
	          				<% if @job.status?() %>
	          					<tr> 
	          						<td><%= t('home.job.status') %></td>
	          						<td>
	          							<%= simple_format(@job.status(), {}, wrapper_tag: "span") %>
          							</td>
	          					</tr>
	          				<% end %>

	          				<!-- Player -->
	          				<% if @job.player.present? %>
	          					<tr> 
	          						<td><%= t('home.job.player') %></td>
	          						<td><%= simple_format(@job.player, {}, wrapper_tag: "span") %></td>
	          					</tr>
	          				<% end %>

	          		</tbody></table>
	          		</div>
				</div>
	          </div>
	        </div>
	      </div>
	    </div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.vertical alignment-helper -->
