<a class="anchor" id="informations"></a>
<section class="info" id="info">
	<div class="container">

		<!-- Info: About -->
		<div class="row about">
			<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
				<p><%= simple_format(@summary) %></p>
			</div>
		</div>

		<!-- Info: Team -->
		<% if @employees.count > 0 %>
			<div class="row team">
				<div class="col-xs-12 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-4 vcenter">
					<h4><%= t('home.info.team') %></h4>
				</div>
				<div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-5 col-md-offset-0 vcenter">
					<% @employees.each do |e| %>
						<p>
							<span class="membername"><%= e[:name] %></span> | <span class="typename"><%= e[:role] %></span>
						</p>
					<% end %>
				</div>
			</div>
		<% end %>

		<!-- Info: Contact -->
		<div class="row contact">
			<div class="col-xs-12 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-2 text-center">
				<h4><%= t('home.info.email') %></h4>
				<p><%= simple_format(@email) %></p>
				<br class="visible-xs-*" />
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 text-center">
				<h4><%= t('home.info.phone') %></h4>
				<p><%= simple_format(@telephone) %></p>
				<br class="visible-xs-*" />
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 text-center">
				<h4><%= t('home.info.address') %></h4>
				<p><%= simple_format(@address) %></p>
			</div>
		</div>

	</div>
</section>