<section class="container-fluid jobs" id="jobs" >
	<div class="row">
		<div class="col-xs-12" id="no-result">
			<p class="text-center"><%= t('home.no_result') %></p>
		</div>
		<% @jobs.each do |job| %>
			<div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 job">
				<%= link_to job_path(id: job), remote: true, class: "job-outer" do %>
					<%= image_tag(job.video_thumb_medium) %>
					<p class="job-title">
						<b>
							<%= job.title %>
						</b>
						<% if job.year.present? %>
							(<%= job.year %>)
						<% end %>
					</p>
				<% end %>
			</div>
		<% end %>
	</div>
</section>