<section class="container-fluid jobs" id="jobs" >
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer" data-toggle="modal" data-target="#myModal">
				<!-- <a href="#myModal" > -->
					<%= image_tag("temp.png") %>
					<p class="job-title">Nome do Filme (Ano)</p>
				<!-- </a> -->
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Testando (1995)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 job">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
	</div>
</section>