<!-- Header (follow the user ) -->
<div class="container-fluid">
	<header class="navbar-fixed-top background-black">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<%= image_tag("logo.png", alt: "Intro Pictures logo", title: "Intro Pictures", id: "logo", class: "center-block") %>
					<div class="overlay-all text-right text-language" >
						<div class="row">
							<div class="col-xs-12">
								<a href="#" class="active">EN</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<a href="#">PT</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<a href="#">ES</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>

<!-- Search -->
<section class="container-fluid">
	<div class="row">
	  <div class="col-xs-10 col-xs-offset-0 col-sm-5 col-sm-offset-3 col-md-3 col-md-offset-4 search-padding"> <!-- search-padding vcenter -->
		<input type="text" class="center-block" id="search" name="search" placeholder="SEARCH" />
	  </div>
	  <div class="col-xs-2 col-sm-1 col-md-1 nopadding"> <!-- nopadding vcenter -->
		<a href=""><%= image_tag("lupa.svg", alt: "Search", title: "Search", id: "search-icon") %></a>
	  </div>
	</div>
</section>

<br/><br/>

<!-- Jobs -->
<section class="container-fluid jobs">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
			<div class="job-outer">
				<%= image_tag("temp.png") %>
				<p class="job-title">Nome do Filme (Ano)</p>
			</div>
		</div>
	</div>
</section>

<!-- Info section -->
<section class="info">
	<div class="container">

		<!-- Info: About -->
		<div class="row about">
			<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
				<p>The richness of brazilian folklore and of traditions and festivities from this theme is widely known. However, do you know the great variety of events annualy held, far from big centers and big audience, but even so very essential?</p>

				<p>It aims at showing distinctive and tradional cultural aspects of brazil from its public gathering, in addition to showing different regions of the country, which is so rich in contrasts and different landscapes.
				</p>
			</div>
		</div>

		<!-- Info: Team -->
		<div class="row team">
			<div class="col-xs-12 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-4 vcenter">
				<h4>Team</h4>
			</div>
			<div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-5 col-md-offset-0 vcenter">
				<p>
					<span class="membername">Guilherme Passos</span> | <span class="typename">Câncer</span>
				</p>
				<p>
					<span class="membername">Guilherme Passos</span> | <span class="typename">Designer</span>
				</p>
				<p>
					<span class="membername">Guilherme Cunha</span> | <span class="typename">Gerente Chefe em Rola</span>
				</p>
			</div>
		</div>

		<!-- Info: Contact -->
		<div class="row contact">
			<div class="col-xs-12 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-2 text-center">
				<h4>E-mail</h4>
				<p>projetos@intropictures.tv</p>
				<br class="visible-xs-*" />
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 text-center">
				<h4>Phone</h4>
				<p>+55 11 5696 4700</p>
				<br class="visible-xs-*" />
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 text-center">
				<h4>Address</h4>
				<p>Rua Peixoto Gomide 1801/06</p>
				<p>CEP 01409-06</p>
				<p>São Paulo/SP | Brasil</p>
			</div>
		</div>

	</div>
</section>

<!-- Contact form -->
<section class="container contact-form">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<%= render :template => "messages/new" %> 
		</div>
	</div>
</section>


<!-- Footer -->
<footer class="hidden-xs background-black footer-normal" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 vcenter">
				<p>All materials, texts, videos and images (collectively, the “Materials”) of this Site, are property of Intro Pictures TV, unless otherwise noted, or property of third parties and are protected copyright laws. Intro Pictures TV does not guarantee nor is responsible for the use of the Materials of this site which could violate the rights of those who do not belong or are not affiliated with Intro Pictures TV.</p>
			</div><!--
			--><div class="col-xs-12 col-sm-2 col-sm-offset-2 vcenter"> 
				<%= image_tag("lab_logo.svg", alt: "Intro Pictures logo", title: "Intro Pictures", class: "pull-right") %>
			</div>
			<!-- The empty comment above is necessary to keep the page structure -->
		</div>
	</div>
</footer>

<!-- Footer for small devices -->
<footer class="hidden-sm hidden-md hidden-lg background-black footer-small">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p>All materials, texts, videos and images (collectively, the “Materials”) of this Site, are property of Intro Pictures TV, unless otherwise noted, or property of third parties and are protected copyright laws. Intro Pictures TV does not guarantee nor is responsible for the use of the Materials of this site which could violate the rights of those who do not belong or are not affiliated with Intro Pictures TV.</p>
				<br/>
			</div>
			<div class="col-xs-12 col-md-1 col-md-offset-3">
				<p style="text-align: center;">Developed by:<br/></p>
				<%= image_tag("lab_logo.svg", alt: "Intro Pictures logo", title: "Intro Pictures", class: "center-block") %>
			</div>
		</div>
	</div>
</footer>