<div class="modal job-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel"><%= t('home.loading') %></div>

<!-- Header (fixed, follows the user) -->
<%= render 'header' %>

<!-- Search -->
<%= render 'search' %>

<!-- Navigation / anchor links that follow the user -->
<%= render 'navigation' %>

<!-- Jobs -->
<%= render 'jobs' %>

<!-- Info section -->
<%= render 'info' %>

<!-- Contact form -->
<%= render 'contact_form' %>

<!-- Footer -->
<%= render 'footer' %>