<!DOCTYPE html>
<html>
<head>
  <title>Intro Pictures</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- Maybe it's needed by Rails / ActiveAdmin -->
<!-- <p class="notice hidden-xs"><%= notice %></p> -->
<!-- <p class="alert hidden-xs"><%= alert %></p> -->

</body>
</html>
